* {
    font-family: 'Roboto Mono', monospace;
    color: #36332b; 
}


.recipe-container {
    margin:56px;
}

.nav-container{
    margin: 100px;
}
.page-title {
    font-weight: 900;
    font-style: italic;
    text-align: center;
    font-size: 120px;
}

.recipe-link {
    text-decoration: none;
    font-size: 24px;    
}

a:hover {
    text-decoration: line-through;
    color: #72624f;
    background-color: #2f2f2a08;
}

.food-pic {
    width: 700px;
    height: auto;

}


